@charset "utf-8";

.list01 {
    clear: both;
    margin: 5px 0;
    float: none;
    ul {
        margin:8px 0 0;
        padding: 0;
        list-style: none;
        border-top: 1px dotted #c4c4c4;
        li {
            margin: 5px 0;
            padding: 3px 0 7px 45px;
            border-bottom: 1px dotted #c4c4c4;
            a {
                color: $_aColor;
                &:hover {
                    color: $_aHover;
                }
            }
            span {
                margin: 0 5px;
                color: #999;
                &.number {
                    width: 20px;
                    margin: 0 15px 0 -44px;
                    display: inline-block;
                    color: #000;
                    text-align: right;
                }
                &.Date {
                    color: $_dateColor;
                }
            }
        }
    }
}
/*-----------------------------listTb--*/
.listTb, .listTb2 {
    clear: both;
    margin: 0 0 10px;
    padding: 0;
    word-wrap:break-word;
    table {
        width: 100%;
        border: 1px solid #fff;
        margin-bottom: 10px;
        th {
            padding: 10px;
            color: #333;
            background-color: #ececec;
            border: 1px solid #dcdcdc;
            text-align: center
        }
        td {
            padding: 6px;
            text-align: left;
            border: 1px solid #dcdcdc;
            word-wrap: break-word;
            //word-break: break-all;
            &.date {
                white-space: nowrap;
            }
            img {
                margin: 8px;
                vertical-align: middle;
            }
            a[href^='https:'],
            a[href^='http:']{
                word-break: break-all;
            }
        }
        .aCenter {
            text-align: center;
        }
        .aRight {
            text-align: right;
        }
        .map {
            margin: 0 10px 0 0;
            img {
                vertical-align: middle;
            }
        }
    }
}
.listTb2 {
    table {
        th{
            text-align: left;
        }
    }
}
.messageBoar{
    .listTb{
        p{
            color: #999;
            font-size: .875em;
        }
    }
}
.country1{
    .listTb, .listTb2{
        table{
            tbody{
                th{
                    padding: 10px;
                    vertical-align: top;
                    @media (min-width: 1200px) {/*--桌機--*/
                        text-align:right;
                        //white-space: nowrap;
                    }
                }
            }
            td{
                padding: 10px;
                ol{
                    margin: 0 0 0 30px;
                    list-style-type: decimal;
                    li{
                        margin: 0 0 10px;
                    }
                }
                em {
                    width: 50px;
                    height: 50px;
                    display: block;
                    background-color: #000;
                }
            }
        }
        span{
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 10px 0 0;
            vertical-align: middle;
            &.red {
                background: #ff0500;
            }
            &.yellow {
                background: #ffff00;
                border: 1px solid #ddd;
            }
            &.orange {
                background: #ff6600;
            }
            &.gray {
                background: #a1a1a1;
            }
        }
        .iconNew{
            vertical-align: middle;
            margin: -10px 10px 0;
        }

    }
}
@media (max-width: 767px) {
    .listTb{
        table{
            width: 100%;
            thead{
                tr{
                    display: none;
                    th{
                        background-color: #138bba;
                        color: #FFF;
                        border: 1px solid #fff;
                    }
                }
            }
            tbody{
                tr{
                    display: block;
                    margin: 10px 0;
                    border-bottom: 1px solid #999;
                    th{
                        display: none;
                    }
                    td{
                        display: block;
                        width: 100%;
                        margin: -1px 0 0 0;
                        position:relative;
                        padding-left: 10px;
                        &:nth-child(1) {
                            width: 100%;
                        }
                        &:nth-child(2) {
                            width: 100%;
                        }
                        &:before {
                            content: attr(data-title) "：";
                            display: inline-block;
                            color: #888;
                            position:relative;
                            width:auto;
                            left: 0px;

                        }
                        &:empty {
                            display: none;
                        }
                        &.date {
                            white-space: normal;
                        }
                        a{
                            font-weight: bold;
                        }
                    }
                }
            }
            .aCenter {
                text-align: left;
            }
            .aRight {
                text-align: left;
            }
            .btn{
                display:block;
                white-space: normal;
                margin-top: 8px;
                margin-bottom: 8px;
                text-align: left;
            }
        }
    }
}

.List_photo {
}
.List_photo ul li{
  display: inline-block;
  width: 30%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 10px;
  vertical-align: top;
}
@media (max-width: 767px) {
  .List_photo ul li{
    width: 100%;
    margin: 0 0 5%;
}
}
.List_photo a {
  display: block;
  position: relative;
}
.List_photo a h3{
  color:#333;
  text-decoration:none !important;
  margin-top: 0px;
}
.List_photo span{
  font-size: .813em;
  color: #666;
  margin-bottom: 0px;
}
.List_pic {
  width: 100%;
  height: 240px;
  vertical-align: top;
  text-align: center !important;
  overflow: hidden;
  position:relative;
  outline: 1px solid #F2F2F2;
  padding: 0px;
  overflow: hidden;
}
.List_pic:after {
  padding-top: 56.25%;
  content:"";
  display: block;
}
.List_photo span{
  display: block;
  clear: both;
}
.List_pic img{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  max-width:100%;
  /* max-height: 240px; */
  max-height: 100%;
  margin:auto;
}
.List_photo a:hover{
  text-decoration:none !important;
}
.List_photo a p{
  color: #666;
}



